/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Seaweed+Script&family=Sen:wght@400..800&display=swap');

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
}

/* Home Start */

/* Main Body Start */
.main {
    height: 100vh;
    width: 100%;
    display: flex;
}

/* Main Body End */

/* Navigation Start */
.nav {
    height: 100vh;
    width: 20vh;
    font-family: "Afacad Flux", sans-serif;
    background-color: aqua;
    padding-top: 20px;
}

.nav ul {
    padding: 0;
}

.nav li {
    list-style: none;
    margin: 65px 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.nav a i {
    margin-right: 10px;
}

/* Navigation End */

/* Content Start */
.content {
    height: 100vh;
    width: calc(100% - 20vh);
    background-color: yellow;
    display: flex;
}

/* Info Start */
.info {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Sen", sans-serif;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info li {
    margin: 10px 0;
    font-family: "Seaweed Script", cursive;
}

/* Image Start */
.img {
    width: 300px;
    margin-left: 20px;
}

/* Image End */

/* Home End */
